
body{
    margin: 0px;
}.features{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(../images/hom.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
    }
    html{
        background-color: #fff;
        color: #555;
        font-family: 'Lato', 'Arial' ,sans-serif;
        font-weight: 300;
        font-size: 20px;
        text-rendering: optimizeLegibility;
        
    }
    .first p{
        color : #fff;
        line-height: 30px;
        margin-bottom: 0px;
    }
    .box{
        padding: 0px 200px 200px 200px;
    }
    .features .head h1{
        text-align: center;
        color:white;
        font-size: 250%;
        padding-top: 0px;
        padding-bottom: 20px;
        border-bottom:  5px solid #55075b;
    }
    .features .head{
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 1px;
    }
    p{
        color: white;
    }