<link rel="stylesheet" href="../static/css/about.css">

<section class='features'>
    <div class="head">
            <h1>About Vintage</h1>
    </div>
    <div class="box">
      <div class='first'>
          <p><strong>
             Hello, welcome to Vintage – The next generation photo editor.
Trouble storing pictures, editing, adding effects? That’s what we are here to help you with. We provide various features to assist your photo needs. Few of them being<br>
Gallery - Vintage lets you to easily store and view your pictures in one place.<br>
Editing – With Vintage, you can now easily edit brightness, contrast, sharpness, blur, denoise resize & rotate according to your choice.<br>
Effects – Vintage lets you choose from a number of predetermined effects which helps you change the coloring and look of your pictures.<br>
<br>
We are working on getting more and more features for you. Hang on with us to have an access to new upcoming features & feel free to let us know if you want anything further from us.

Thank you for being here!
       </strong>
       </p>
       </div>
    </div>
</section>